:root {
  font-family: system-ui, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

input {
  box-sizing: border-box;

  width: 100%;
  border: 0px;

  color: white;
  background-color: #242424;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 280px;
  min-width: 250px;
}

.oldContainer {
  width: 100%;
  padding: 2%;
  margin-top: 5%; // Gap between oldContainer top and the top of the page.
  background-color: #0b5239;
  border: 1px solid black;

  &__form {
    background-color: #0D6244;    
  }

  &__btn {

    width: 100%;
    background-color: #09422d; 
    border: 0px;

    &--submit {
      font-weight: bold;
    }
  }
}

.newContainer {
  width: 100%;
  padding: 2%;
  margin-top: 5%; // Gap between newContainer top and oldContainer bottom.
  background-color: #0b5239;
  border: 1px solid black;

  &__form {
    background-color: #0D6244;    
  }

  &__btn {
    width: 100%;
    background-color: #09422d; 
    border: 0px;
    
    &--submit {
      font-weight: bold;
    }
  }
}

.memberContainer {
  width: 100%;
  padding: 2%;
  margin-top: 5%; // Gap between memberContainer and the top of the page.
  background-color: #0b5239;
  border: 1px solid black;

  &__btn {
    width: 100%;
    background-color: #09422d; 
    border: 0px;

    &--signOut {
      font-weight: bold;
    }
  }
}

.reservationContainer {
  width: 100%;
  padding: 2%;
  margin-top: 5%; // Gap between reservationContainer and memberContainer.
  background-color: #0b5239;
  border: 1px solid black;

  &__cards {
    min-width: 70%;
    min-height: 90%;
    background-color: #0D6244;

    &--card {
      background-color: #0b5239;      
    }
  }

  &__btn {
    width: 100%;
    background-color: #09422d; 
    border: 0px;

    &--remove {
      font-weight: bold;
    }
    
    &--confirm {
      font-weight: bold;
      margin-top: 5%; // Gap between reservationContainer__btn--confirm and reservationContainer__btn--remove.
    }
  }
}

.searchContainer {
  width: 100%;
  padding: 2%;
  margin-top: 5%; // Gap between searchContainer top and reservationContainer bottom.
  background-color: #0b5239;
  border: 1px solid black;

  &__form {
    background-color: #0D6244;    
  }

  &__btn {
    width: 100%;
    background-color: #09422d; 
    border: 0px;
    
    &--submit {
      font-weight: bold;
    }
  }
}

.resultContainer {
  width: 100%;
  padding: 2%;
  margin-top: 5%; // Gap between resultContainer top and searchContainer bottom.
  background-color: #0b5239;
  border: 1px solid black;

  &__cards {
    background-color: #0D6244;
    
    &--card {
      background-color: #0D6244;
    }
  }

  &__btn {
    width: 100%;
    background-color: #09422d; 
    border: 0px;
    
    &--reserve {
      font-weight: bold;
    }
  }
}
